body {
	margin: 0;
}

#metrics-selector {
	position: absolute;
	z-index: 1;
	/*float: left;*/
	background: Thistle;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	
	/* transparency*/
	zoom: 1;
    filter: alpha(opacity=90);
    opacity: 0.9;
    /*~*/
}

#metrics-selector-toggle {
	position: absolute;
	background: Plum;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	cursor: pointer;
}

#metrics-selector-toggle.mouseover {
	background: Violet;
}

#metrics-selector-slider {
	position: absolute;
}

/*
.ui-slider-handle {
  width: 8px;
  height: 14px;
  position: absolute;
  top: -4px;
  background: #478AFF;
  border: solid 1px black;
}
*/

#metrics-selector-scroll {
  overflow: hidden;
}

#realtime-charts-dashboard {
	position: relative;
	border: 1px solid black;
	overflow: auto;
	z-index: -1;
}

#charts-dashboard {
	position: relative;
	border: 1px solid black;
	overflow: auto;
	/* z-index: -1; */
}

.chart {
	position: absolute;
	border: 1px solid black;
	display: inline-block;
	overflow: hidden;
}

.chart-settings {
	position: absolute;
	width: 16px;
	height: 16px;
	display: inline-block;
	background: url(./img/settings.png);
	cursor: pointer;
	z-index: 99;
}

.metric-container {
	display: inline-block;
	padding: 0;
	width: 340px;
	cursor: pointer;
}

.metric-icon {
	width: 16px;
	height: 16px;
	vertical-align: middle;
}

.metric-label {
	white-space: nowrap;
	color: #000000; 
	font-size: 10px; 
	font-family: Verdana; 
	vertical-align: middle;
	padding-left: 2px;
}

path.chart {
	fill-opacity: .6;
}

line.chart {
  stroke: #000;
  shape-rendering: crispEdges;
}

.method-container {
	display: block;
	padding: 0;
	cursor: pointer;
}

.method-label {
	white-space: nowrap;
	color: #333333; 
	font-size: 10px; 
	font-family: Verdana; 
	vertical-align: middle;
}

.metrics-title-label {
	font-family: Verdana;
	font-size: 12px;
	font-weight: bold;
	color: black;
}

.metrics-title {
	display: block;
	/*border-bottom: 1px solid black;*/
	margin-bottom: 5px;
}
	
.legend-container {
	position: absolute;
}
	
.legend-title {
	position: absolute;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	background: WhiteSmoke;
	border-bottom: 1px solid OrangeRed;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 2px;
	color: OrangeRed;
	border: 1px solid OrangeRed;
	cursor: move;
	text-align: center;
}

.legend-transparent {
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.legend-transparent-drag {
    filter: alpha(opacity=20);
    opacity: 0.2;
}

.legend-content {
	position: absolute;
	border: 1px solid OrangeRed;
	background: WhiteSmoke;
	overflow-y: auto;
}

.legend-delete {
	vertical-align: middle;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 4px;
	background: url(./img/delete.png);
	cursor: pointer;
}

line.x-grid, line.y-grid {
  stroke: #ccc;
  shape-rendering: crispEdges;
}

.value-preview-content {
	position: absolute;
	border: 1px solid black;
	background: WhiteSmoke;
	/*overflow-y: auto;*/
}

.value-preview-transparent {
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.value-preview-transparent-drag {
    filter: alpha(opacity=30);
    opacity: 0.3;
}


/* context graph */
circle.node {
  stroke: #fff;
  stroke-width: 1px;
}

text.node {
	fill: #333;
	stroke: none;
	font-size: 10px;
	font-family: Verdana;
	pointer-events: none;
}

line.link {
  stroke-opacity: .6;
  pointer-events: none;
}

polyline.link {
  stroke-opacity: .6;
  fill: #aec7e8;
  pointer-events: none;
}
